openapi: 3.0.3
info:
  title: US Bank Corporate Account Information Accounts Balances API
  description: The Corporate Account Information API provides U.S. Bank corporate customers with programmatic access to deposit account balances and transaction data. Retrieve current-day and previous-day balances for up to 50 accounts, transaction history up to 60 days (with optional 12 or 24-month retention), and account statements.
  version: 1.0.0
  contact:
    name: US Bank API Onboarding Team
    url: https://developer.usbank.com/contact
    email: apionboarding@usbank.com
  termsOfService: https://developer.usbank.com/terms
servers:
- url: https://api.usbank.com/v1
  description: US Bank production API
security:
- OAuth2MFA: []
tags:
- name: Balances
paths:
  /accounts/current-day-balances:
    post:
      operationId: getCurrentDayBalances
      summary: Get Current Day Account Balances
      description: Get account balances for an array of accounts for the current business day. Supports up to 50 accounts per request. Includes available balance, ledger balance, and collected balances.
      tags:
      - Balances
      parameters:
      - name: Correlation-ID
        in: header
        required: true
        description: Unique identifier for request/response correlation
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          default: application/json
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          default: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsRequest'
      responses:
        '200':
          description: Current day account balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /accounts/previous-day-balances:
    post:
      operationId: getPreviousDayBalances
      summary: Get Previous Day Account Balances
      description: Get account balances for an array of accounts for the previous business day. Supports up to 50 accounts per request.
      tags:
      - Balances
      parameters:
      - name: Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsRequest'
      responses:
        '200':
          description: Previous day account balances
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Balance:
      type: object
      description: Account balance information
      properties:
        accountNumber:
          type: string
          description: Account number
        availableBalance:
          type: number
          format: double
          description: Available balance (funds available for withdrawal)
        ledgerBalance:
          type: number
          format: double
          description: Ledger balance (book balance)
        collectedBalance:
          type: number
          format: double
          description: Collected balance (excluding float)
        currency:
          type: string
          description: ISO 4217 currency code
        balanceDate:
          type: string
          format: date
          description: Date of balance information
      required:
      - accountNumber
      - availableBalance
      - ledgerBalance
      - balanceDate
    BalancesResponse:
      type: object
      properties:
        balances:
          type: array
          items:
            $ref: '#/components/schemas/Balance'
    AccountsRequest:
      type: object
      description: Request body for batch account balance queries
      properties:
        accountNumbers:
          type: array
          maxItems: 50
          items:
            type: string
          description: List of account numbers to query (max 50)
      required:
      - accountNumbers
    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Error message
        correlationId:
          type: string
          description: Correlation ID from the request
  securitySchemes:
    OAuth2MFA:
      type: oauth2
      description: OAuth 2.0 with MFA using SinglePoint credentials
      flows:
        authorizationCode:
          authorizationUrl: https://api.usbank.com/oauth/authorize
          tokenUrl: https://api.usbank.com/oauth/token
          scopes:
            account.read: Read account information
            transaction.read: Read transaction data
