openapi: 3.2.0
info:
  title: US Bank Positive Pay Exception History API
  description: The Positive Pay API helps detect check fraud by electronically matching checks against issued items. Retrieve exception items (mismatched checks), submit pay/return decisions, and access exception history. Exceptions are available 9am-3pm local processing time with decisions due by 3pm.
  version: 1.0.0
  contact:
    name: US Bank API Onboarding Team
    url: https://developer.usbank.com/contact
    email: apionboarding@usbank.com
servers:
- url: https://api.usbank.com/v1
  description: US Bank production API
security:
- OAuth2MFA: []
tags:
- name: Exception History
paths:
  /positive-pay/exceptions/history:
    get:
      operationId: getExceptionHistory
      summary: Get Exception History
      description: Retrieve history and details of previously processed Positive Pay exceptions.
      tags:
      - Exception History
      parameters:
      - name: accountNumber
        in: query
        required: false
        description: Filter by account number
        schema:
          type: string
      - name: fromDate
        in: query
        required: false
        description: Start date for exception history
        schema:
          type: string
          format: date
      - name: toDate
        in: query
        required: false
        description: End date for exception history
        schema:
          type: string
          format: date
      - name: Correlation-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Exception history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionHistoryList'
components:
  schemas:
    ExceptionHistoryItem:
      type: object
      properties:
        exceptionId:
          type: string
        accountNumber:
          type: string
        checkNumber:
          type: string
        amount:
          type: number
        exceptionDate:
          type: string
          format: date
        decision:
          type: string
          enum:
          - PAY
          - RETURN
          - AUTO_PAY
          - AUTO_RETURN
        decisionDate:
          type: string
          format: date-time
    ExceptionHistoryList:
      type: object
      properties:
        history:
          type: array
          items:
            $ref: '#/components/schemas/ExceptionHistoryItem'
        totalCount:
          type: integer
  securitySchemes:
    OAuth2MFA:
      type: oauth2
      description: OAuth 2.0 with MFA using SinglePoint credentials
      flows:
        authorizationCode:
          authorizationUrl: https://api.usbank.com/oauth/authorize
          tokenUrl: https://api.usbank.com/oauth/token
          scopes:
            positivepay.read: Read exception items
            positivepay.write: Submit decisions
